*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
:root{
    --bgc: #00000057;
    --bsh: #0000002b;
    --width1: 160px;
}
html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
body a{
    color: black;
}
img{
    width: 100%;
}
.to-top{
    position: fixed;
    display: none;
    bottom: 13px;
    right: 4vw;
    cursor: pointer;
    padding: 10px;
    font-size: 5vw;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    /* border-radius: 50%; */
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: black;
    box-shadow: 0 2px 6px 0 var(--bsh);
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
    z-index: 99999999999999999999999;
}
/* .to-top span{
    margin-top: -60px;
} */
nav{
    position: sticky;
    top:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0;
    background-color: white;
    color: black;
    z-index: 99;
    height: 65px;
    width: 100vw;
    transition: all ease-out .5s;
}
nav a{
    color: black;
}
.nav-left{
    display: flex;
    align-items: center;
}
nav img{
    width: auto;
    max-width: 100px;
    height: 45px;
    margin: 0 1vw 0 .5vw;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
#mini-nav-menu{
    display: none;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    position: absolute;
    right: 6vw;

}
#mini-nav-menu span{
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.699);
}
button{
    cursor: pointer;
}
.cover{
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    right: 0;
    background-color: var(--bsh);
    transition: all ease-in-out .5s;
    left: -200vw;
    z-index: 999999999999999;
}
.menu{
    position: fixed;
    top:65px;
    right: 2vw;
    height: 45vh;
    width: 160px;
    font-size: 16px;
    display: grid;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-items:center;
    box-shadow: 0 0 2px var(--bsh);
    padding: 1vw;
    transition: all ease-in-out .5s;
    z-index: 999999999999999;
    left: -200vw;
}
.menu a:hover, nav a:hover {
    text-decoration: underline;
}
.menu > a{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.menu::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: -10px;
    right: 4px;
    z-index: 1;
    box-shadow: -1px -1px 2px var(--bsh);
    transform: rotate(45deg);
}

.slider{
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-color: white;
    margin-top: -65px;
}
#slider-img1{
    /* left: -100%; */
    z-index: 1;
}
#slider-img2{
    left: 100%;
    z-index: 3;
}
#slider-img3{
    left: 0;
    z-index: 5;
}
.slider img{
    height: 100%;
    /* width: auto; */
    object-fit: cover;
    min-width: 100%;
    position: absolute;
    transition: all ease-in-out 1.5s;
}
.slider-description{
    position: absolute;
    /* top: 50%;
    left: 30%;
    transform: translate(-30%, -50%); */
    width: 100vw;
    height: 100%;
    color: white;
    background-color: #00000096;
    padding: 10vw;
    z-index: 8;
}
.slider-description div{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    line-height: 30px;
    font-size: 20px;
}
.slider-description div h3{
    font-size: 1.4em;
    padding: 20px 0;
}
.slider-description div li{
    padding: 10px 0;
}
.container{
    overflow: hidden;
}
.headlines{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 3vw;
    margin:25vh 2vw;
    /* height: 40vh; */
}
.headl{
    display: block;
    position: relative;
    height: 40vh;
    overflow: hidden;
}
.headl img{
    width: 100%;
    height: 100%;
    height: 40vh;
    transition: all ease-in-out .4s;
    /* max-width: 200px; */
}
.headl a:hover >img{
    width: 120%;
    height: 120%;
    margin: -10% 0 0 -10%;
}
.headl p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    font-weight: 900;
    width: fit-content;
    min-width: 120px;
    background: #00000045;
}
.container h3{
    font-size: 20px;
    position: relative;
    width: 100%;
    margin: 20vh 0;
    padding: 0 2vw;
}
.container h3::before{
    content: "";
    position: absolute;
    width: 30vw;
    height: 3px;
    background-color: black;
    left: 2vw;
    top: 120%;
}
.content{
    display: grid;
    margin: 1vw 3vw;
    height: 90vh;
}
.product-offered-title{
    /* visibility: hidden; */
    width: fit-content;
    max-width: 189px;
    padding: 5px 10px;
    background-color: white;
    box-shadow: -2px -2px 2px var(--bsh);
}
.product-offered{
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vw;
}
.product-offered:nth-child(1){
    /* grid-area: one; */
    grid-row: 1/2;
    grid-column: 1/3;
    background-image: url("/img/product/bread2.jpg");
}
.product-offered:nth-child(2){
    /* grid-area: two; */
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url("/img/product/birthday-cupcake.jpg");
}
.product-offered:nth-child(3){
    /* grid-area: three; */
    grid-row: 1/3;
    grid-column: 3/5;
    background-image: url("/img/product/Beef-shawarma.jpg");
}
.product-offered:nth-child(4){
    /* grid-area: four; */
    grid-row: 3/5;
    grid-column: 1/5;
    background-image: url("/img/product/cupcake2.jpg");
}
.desc{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color:var(--bgc) ;
    padding: 10px;
}
.product-offered:hover .product-offered-title{
    visibility: visible;
}

.serv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    margin: 0 2vw ;
    min-height: 80vh;
    grid-gap: 2vw;
}
.serv >div{
    max-height: 70vh;
}
.serv img{
    height: 100%;
    max-height: 70vh;
}
.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-services ul li{
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    list-style-type: circle;
}
.contact-us{
    margin: 10vh 0;
}
.awe{
    font-size: 30px;
    text-align: center;
    margin: 10vh 4vw 0;
}
.contact-details{
    width: fit-content;
    max-width: 250px;
    margin: 0 auto 5vh;
}
.contact-details p{
    padding: 5px 0;
    font-size: 20px;
}
.contact-details p a{
    color: #FF5722;
}
.contact-details p a:hover{
    color: black;
}
.contact-us-div{
    display: grid;
    margin: 0 auto;
    width: 80vw;
    align-items: center;
    max-width: 638px;
}
.contact-us-div >div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px 0;
    font-size: 17px;
    grid-gap: 2vw;
}
.contact-us-div >div p{
    padding: 10px 0;
}
.contact-us-div >div input{
    width: 50%;
    min-width:120px;
    max-width: 250px;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 2px 2px 2px #00000054, inset -2px -2px 2px #bebebea9;
}
.contact-us-div textarea{
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: none;
    max-width: 638px;
    box-shadow: inset 2px 2px 2px #00000054, inset -2px -2px 2px #bebebea9;
}
.contact-us-div button{
    width: 200px;
    margin: 20px auto;
    height: 30px;
    border: none;
    background-color: black;
    cursor: pointer;
    color: white;
    transition: ease-in-out .5s;
}
.contact-us-div button:hover{
    background-color: white;
    color: black;
    font-weight: 700;
    box-shadow: 0 3px 6px var(--bsh);
    font-size: 17px;
}
.products-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10vh 20vw;
    grid-gap: 2vw;
}
.product-img-div{
    position: relative;
    height: calc(94vw / 2);
    max-height: 160px;
}
.product-img-div img{
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 6px var(--bsh);
}
.description{
    padding: 10px ;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.price{
    padding: 5px 10px;
}
#addtocart{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -1em;
    right: -.5em;
    text-shadow: 0 0 2px var(--bsh);
    border-radius: 50%;
    background:white;
    box-shadow: 0 0 3px var(--bsh);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 1s;
}
#addtocart:hover{
    background-color: #ff5722;
}
.other-products-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--width1), 1fr));
    margin: 0 5vw;
    grid-gap: 3vw;
}
#cartno{
    position: absolute;
    right: -65%;
    top: -91%;
    color: white;
    background-color: black;
    padding: 3px;
    border-radius: 50%;
}
.shownot{
    position: relative;
}

/* CART SECTION */
.cart-div{
    display: grid;
    grid-gap: 3vh;
    margin: 10vh 2vw;
}
.cart-div h4{
    margin: 2vh 3vw;
    font-size: 25px;
    line-height: 30px;
}
.cart-div img{
    max-width: 100px;
    max-height: 100px;
}
.cart-div >div{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    width: 70vw;
    margin: 0 auto;
    border-bottom: 1px solid;
    padding: 10px 0;
}
.cart-product img{
    box-shadow: 0 3px 6px var(--bsh);
}
.cart-product p{
    padding: 5px 0;
}
.cart-div-input{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}
.cart-div-input span{
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 6px var(--bsh);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.4em;
    cursor: pointer;
}
.cart-div-input input{
    border: none;
    background-color: white;
    box-shadow: 0 3px 6px var(--bsh);
    max-width: 60px;
    text-align: center;
    height: 35px;
    width: 9vw;
}
.total{
    text-align: center;
    display: grid;
}
.total p:nth-child(2){
    align-self: end;
}
.cart-div .sum-total{
    display: flex;
    margin: 2vh auto;
    width: fit-content;
    padding: 10px;
    border: none;
    align-items: center;
}
.sum-total span{
    font-weight: 900;
    margin: 0 10px;
}
.cart-div .check-out{
    display: none;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin: 4vh auto;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: all ease-in-out .6s;
}
.cart-div .emptycart{
    width: 70vw;
    margin: 0 auto;
    color: var(--bgc);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.check-out:hover{
    background-color: white;
    color: black;
    box-shadow: 0 3px 6px var(--bsh);
    font-weight: 600;
}
.order-cover{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color:#0000001f;
    left: 0;
    top: 0;
    display: none;
}
.order{
    width: 80vw;
    height: 70vh;
    max-width: 320px;
    min-height: 420px;
    max-height: 500px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 6px var(--bsh);
    overflow: hidden;
    padding: 10px;
    z-index: 99999999;
    display: none;
    overflow-y: scroll;
    text-align: left;
}
.order-step{
    position: absolute;
    top: -1px;
    right: -2px;
}
.order h2{
    text-align: center;
    padding: 10px 0;
}
.order h4{
    text-decoration: underline;
}
.order p{
    font-size: 15px;
}
.order-div1{
    /* display: none; */
    position: absolute;
    width: calc(80vw - 20px);
    max-width: 300px;
    transition: all ease-in-out .6s;
}
#order-div2{
    left: 340px;
}
.order-div1 > p{
    text-align: center;
}
.home-del, .booking-del{
    margin: 10px 0;
}
.home-del p, .booking-del p{
    margin-left: 1vw;
    padding: 5px 0;
}
.order-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-del button{
    width: 100px;
    height: 40px;
    margin: 3vh;
    text-align: center;
    border: none;
    position: relative;
    padding: 10px;
    display: block;
    font-weight: 600;
}
.order::-webkit-scrollbar-track-piece{
    width: 10px;
    background-color: #f8530e;
}
.smalltxt{
    color: #f8530e;
    font-size: 9px;
    display: block;
    margin: 2px 0;
    font-weight: 100;
    bottom: 2px;
    display: flex;
    justify-content: center;
}
.smalltxt2{
    color: white;
}
.smalltxt3{
    color: #f8530e;
    font-size: 9px;
}
.booking-del button, form button, .form button{
    width: 150px;
    height: 35px;
    font-weight: 600;
    font-size: 1em;
    border: none;
    margin: 10px auto;
    transition: all ease-in-out .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    transition: all ease-in-out .6s;
    
}
form button:active, .form button:active{
    background-color: white;
    color: black;
    box-shadow: 0 0 3px var(--bsh);
}
form .top, .form .top{
    display: flex;
    justify-content: space-between;
}
form select, .form select{
    height: 30px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    box-shadow: inset 2px 2px 2px #00000054, inset -2px -2px 2px #bebebea9;
}
form select:optional , .form select:optional{
    color:#f8530e;
    padding: 5px;
}
form input, .form input{
    width: 50%;
    min-width:100px;
    max-width: 250px;
    padding: 10px 15px;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    box-shadow: inset 2px 2px 2px #00000054, inset -2px -2px 2px #bebebea9;
}
form textarea, .form textarea{
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: none;
    max-width: 638px;
    box-shadow: inset 2px 2px 2px #00000054, inset -2px -2px 2px #bebebea9;
}
.order-type-div1{
    position: absolute;
    transition: all ease-in-out .6s;
}
#order-type-div2, #order-type-div3{
    left: 340px;
}
/* #order-type-div1,#order-type-div2{
    display: none;
} */
/* form .inp-big{
    width: 80%;
    min-width:120px;
    max-width: 250px;
    padding: 10px 15px;
    height: 30px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 2px 2px 2px #00000054, inset -2px -2px 2px #bebebea9;
} */
/* SINGLE PRODUCT PAGE */
.single{
    display: block;
    /* width: 70vw;
    margin: 0 auto; */
    text-align: center;
}
.single h2{
    font-size: 25px;
}
.single h2:nth-child(1){
    margin-top: 6vh;
    text-transform: capitalize;
}
.single h4{
    font-size: 16px;
    margin-top: 2.2vh;
    margin-bottom: 4.7vh;
    text-transform: uppercase;
}
.single img{
    height: 37vh;
    width: 51vw;
    margin-bottom: 3.125vh;
}
.single p:nth-child(2){
    margin: 1vh 0 2.86vh 0;
}
.single .btn button{
    width: 180px;
    height: 35px;
    font-weight: 600;
    font-size: 1em;
    border: none;
    margin: 10px 3vw;
    transition: all ease-in-out .6s;
}
.single .btn button:nth-child(1):hover, .single .btn button:nth-child(2):hover{
    background-color: #f8530e;
    color: white;
}
.single .btn button:nth-child(1),.home-del button:nth-child(1){
    background-color: white;
    color: black;
    box-shadow: 0 3px 6px var(--bsh);
}
.single .btn button:nth-child(2),.home-del button:nth-child(2){
    background-color: black;
    color: white;
}
.abd{
    margin: 0 2vw;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.abd p{
    font-size: 20px;
}
.abdl{
    display: flex;
    align-items: center;
}
.abdl div p{
    line-height: 25px;
    padding: 4vh 0;
}
.abdl div p:nth-child(1)::first-letter{
    font-size: 3rem;
    font-family: serif;
}
.abdl div p:last-child{
    display: flex;
    justify-content: flex-end;
}
.abdl div p a button{
    background-color: transparent;
    outline: none;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 500;
}
footer{
    display: block;
    background-color: #000000e0;
    color: #ffffffd9;
    padding: 20px 0;
    margin-top: 18vh;
}
footer a{
    color: #ffffffd9;
}
.footer-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}
.footer-left{
    display: block;
}
.footer-left-top{
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
}
.footer-left-top img{
    width: auto;
    height: 45px;
}
.footer-middle{
    text-align: center;
}
.footer-middle ul li{
    padding: 5px 0;
}
.footer-right ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.footer-right img{
    width: 30px;
    height: auto;
    margin: 5px 0;
}
.built{
    padding: 5px 0 5px 10px ;
}
.built a{
    color: #2196f3;
}
@media screen and (max-width: 480px){
    :root{
        --width1: 100px;
    }
    nav{
        display: flex;
    }
    nav img{
        margin: 0 1vw 0 2vw;
    }
    .shownot{
        display: none;
    }
    #mini-nav-menu{
        display: grid;
    }
    .desc{
        font-size: 16px;
    }
    .products-div{
        margin: 10vh 3vw;
        grid-gap: 3vw;
        grid-template-columns: repeat(auto-fit, minmax(var(--width1), 1fr));
    }
    .cart-div {
        margin: 10vh 0;
    }
    .cart-div .product .product-img-div{
        height: fit-content;
    }
    .cart-div .product .product-img-div img{
        width: 96px;
        height: 96px;
    }
    .cart-div .product .description{
        width: 80%;
    }
    .cart-div >div{
        margin: 0 2vw;
        width: 96vw;
    }
    .headlines{
        margin-top: 15vh;
    }
    /* SINGLE PAGE */
    .single img{
        width: 100vw;
        max-height: 198px;
    }
    .single .btn button{
        width: 100px;
        font-size: 12px;
    }
    form textarea, .form textarea{
        max-width: 70vw;
    }
    .footer-right ul{
        display: block;
        width: 100%;
        text-align: center;
    }
    .footer-right img{
        width: 20px;
    }
    .footer-left-bottom{
        font-size: 12px;
    }
    .built a{
        color: white
    }
}